<!DOCTYPE html>
<html>
  <head>
    <title>ProgrammaticallyAddJavascriptPolyfillsRails6</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <script>
        window.fetch || document.write('<script src="<%= asset_pack_path('polyfills/fetch.js') %>"><\/script>');
        window.Promise || document.write('<script src="<%= asset_pack_path('polyfills/promise.js') %>"><\/script>');
    </script>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
